/* Clases variadas */
.buscador {
    position: relative;
}
#bs1{
  padding-right:8px;
}
.input_apoderados{
    background-color: #809fff!important;
    box-shadow: 5px 5px 2.5px grey;

}
.input_apoderados:hover{
  transition: 0.6s;
  box-shadow: 10px 10px 5px grey;
}
.haja{
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
#searchList {

    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, .1);
    max-height: 0;
    transition: max-height .2s ease;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 2;
}

#searchList.is-visible {
    max-height: 500px;
    overflow-y: auto;
}

#searchList li {
  background-color: white;
    padding: 0.75rem 1rem;
    border: none;
}

#searchList li:hover {
    background-color: #f5f5f5;
    color: #22adff;
}
 #file-preview{
  width: 390px!important;
  height: 118px!important;
  object-fit: cover;
}

.line_hover:hover{
  padding-bottom: 4px;
  border-bottom: solid #ff4d4d;
}
.related_box{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #ffff;
}
.hover_title_info:hover{
  color: #588cf3;
}
.hover_box_info:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.font_apple{
  font-family: Tofino, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
  font-weight: bold;
}
#loadpage{
  display: block;
  background-color: gray;
  color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1000;
}
#loadpage p{
  display: block;
  width: 100px;
  height: 30px;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

}
.icon_social_contacto{
  font-size: 32px;
  width: 35px;
  height: 35px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  overflow: hidden;
  cursor: pointer;
  color: gray;
}
.facebook_icon:hover{
  color:#4267B2!important;
}
.instagram_icon:hover{
  color: #E41036!important;
}
.yotube_icon:hover{
  color: #FD0000!important;
}
.pinterest_icon:hover{
  color: #E00018!important;
}
.twitter_icon:hover{
  color: #5DA9DD!important;
}
.noseleccionable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.border_bottom{
  border-bottom: solid 2px #ff4d4d;
}
.input_noticia:hover{
  cursor: pointer;
}
.display_center{
  text-align: -webkit-center;
  text-align: center;
}
img {
    max-width: 100%;
    height: auto !important;
}
.google-maps{
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
#input_busqueda_actividades{
  background-image: url('../images/iconos/busqueda-30.png');
  background-position: 8px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 40px 12px 40px;
  border: 1px solid #ddd;
}
.label_menu{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
.college_image{
  background-image: url(../images/utilidad/FRONT_COLEGIO.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}
.content_intro{
  font-family: 'Open Sans', sans-serif;
}

.imagen_bellavista{
    background-image: url(../images/utilidad/FRONT_COLEGIO.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0;
    border-style: solid;
    border-width: thin;
    border-color: black;
    height: 300px;
}
.imagen_bellavista2{
    background-image: url(../images/galerias/diadelecturacra/IMG_20190425_092526.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0;
    border-style: solid;
    border-width: thin;
    border-color: black;
    height: 200px;
}
.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.font_lato{
  font-family: 'Lato', sans-serif !important;
  letter-spacing: 1px;
}
.font_roboto{
  font-family: 'Roboto Slab', serif;
}
.title_vision_mision{
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 1px;
}
.font_open{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.font_open_nosize{
  font-family: 'Open Sans', sans-serif;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.titulo_user{
  margin: 0;
  padding: 0;
}
.detail_user{
  border-style: solid;
  border-width: thin;
  border-color: #3396ff;
  background-color: #3396ff;
}
.detail_social{
  border-style: solid;
  border-width: thin;
  border-color: #3396ff;
}
.title_red{
  color:#ff3333;
}
.container_buttons{
  padding: 10px;
}

.hover_image:hover{
  transform: scale(1.2);
}
.sadas{
  background-image: url("../images/utilidad/FRONT COLEGIO.jpg");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.shared_label{
  font-weight: bold;
}
.box{
  border-style: solid;
  border-width: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.background_navbar{
  background-color: #5b9bd7 !important;
}
.navbar_titulo{
  font-weight: bold;
  font-size: 16px !important;
}
.bellavista_title{
  color: rgba(255, 255, 255,0.9);
  font-weight: bold;
  font-size: 20px !important;
  text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black;
}
.thumbnail_galeria{
  border-style: solid;
  border-width: 1px;
  margin: 0 auto;
  position: relative;
}
.container_thumbnail{
  padding:3px;
  position:relative;
}
.container_thumbnail:hover .album-image{
  opacity: 0.3;
}
.container_thumbnail:hover .album-container {
  opacity: 1;
}

@media only screen and (max-width: 9999px){
  .album-image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 140px!important;
    overflow: hidden;
    object-fit: cover;
  }
  .cuerpo_noticia p > img {
    margin-left: auto!important;
    margin-right: auto!important;
    display: block!important;
  }

}
@media only screen and (max-width: 1200px){
  .album-image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 120px!important;
    overflow: hidden;
    object-fit: cover;
  }
  .cuerpo_noticia p > img {
    margin-left: auto!important;
    margin-right: auto!important;
    display: block!important;

  }
}
@media only screen and (max-width: 992px){
  .album-image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 200px!important;
    overflow: hidden;
    object-fit: cover;
  }
  .cuerpo_noticia p > img {
    margin-left: auto!important;
    margin-right: auto!important;
    display: block!important;
  }

}
@media only screen and (max-width: 768px){
  .album-image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 200px!important;
    overflow: hidden;
    object-fit: cover;
  }
  .cuerpo_noticia p > img {
    margin-left: auto!important;
    margin-right: auto!important;
    display: block!important;
    width: auto !important;
  }
}
@media only screen and (max-width: 576px){
  .album-image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    max-height: 300px;
    height: 320px!important;
    overflow: hidden;
    object-fit: cover;
  }
  @media screen and (max-width: 448px){
  .g-recaptcha iframe {
  width: 200px!important;
  transform-origin:0 0;-webkit-transform-origin:0 0;
  }}

  .cuerpo_noticia p > img {
    margin-left: auto!important;
    margin-right: auto!important;
    display: block!important;
    width: auto !important;
  }
  .font_contact{
    font-size: 12px!important;
  }
  .sadas{
    background-image: url("../images/utilidad/FRONT COLEGIO.jpg");
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
  }

}
.gallery-menu{
  width: 100%;
  height: 300px!important;
  overflow-y: hidden;
  object-fit: cover;
}
.album-image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  overflow: hidden;
}

.album-container{
  transition: .5 ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}
.album-text{
  background-color: #E03C3B;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.title_content_album{
  font-size: 20px;
}
.container_actividad{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
  border-style: solid;
  border-color: #a6a6a6;
  border-width: 1px;
  border-radius: 5px;
}
.container_actividad:hover{
  cursor: pointer;
  background-color: #f2f2f2;
}
.contenedor_registro{
  padding: 10px;
}
.admision_banner{
  padding-top: 20px;
  padding_bottom: 20px;
  height: 100%;
  text-align: center;
}
.seccion_noticias{
  margin: 5px;
  padding: 5px;
  border-style: solid;
  border-width: 1.5px;
  border-color:#bfbfbf;
}
.seccion_noticias:hover{
 box-shadow: 1px 1px #999999;
}
.icon_zoom{
  transition: width 1s, height 1s, transform 1s;
  -moz-transition: width 1s, height 1s, -moz-transform 1s;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  -o-transition: width 1s, height 1s,-o-transform 1s;
}
.icon_zoom:hover{
    transform : scale(1.2);
  -moz-transform : scale(1.2);      /* Firefox */
  -webkit-transform : scale(1.2);   /* Chrome - Safari */
  -o-transform : scale(1.2);
}
.padding_bottom{
  margin-bottom: 5px;
}
.breadcumb_noticia{
  padding-top: 10px;
  padding-bottom: 10px;

}
/*Fin clases variadas */

/**Clases de estructuras */

.box_container{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 7px;
}
.slider{
  padding: 3px;
  margin-top: 8px;
}
.border_solid{
  border-style: solid;
  border-width: 1px;
}
.border-activity{
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}
.navheader{
  padding-left: 15px;
  width: 100%;
}
.header_color{
  background-color:#E03C3B;
}
.color_1{
  background-color:#e6e6e6;
}
.custom_display{
  display: inline-block;
  padding-right:2px;
}
/**Primer boton **/
.button_save{
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 340px;
  height: auto;
  position: fixed;
  bottom:50px;
  right: 10px;
  z-index: 999px;
}
.label_button_save{
  border-radius: 10px;
  width: 220px;
  margin: 0px;
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 5px;
  right: 10px;
}
.div_button{
  width: 20%;
  margin: 0px;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: inherit;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 5px;
  right: 10px;
}
/**Fin primer boton **/
/**Segundo boton **/
.button_save_editor{
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 340px;
  height: auto;
  position: fixed;
  bottom:100px;
  right: 10px;
  z-index: 999px;
}
.label_button_save_editor{
  border-radius: 10px;
  width: 220px;
  margin: 0px;
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 105px;
  right: 10px;

}
.div_button_editor{
  width: 20%;
  margin: 0px;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: inherit;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 5px;
  right: 10px;
}
/** Fin segundo boton **/
/**Tercer boton **/
.button_save_borrador{
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 340px;
  height: auto;
  position: fixed;
  bottom:70px;
  right: 10px;
  z-index: 999px;
}
.label_button_save_borrador{
  border-radius: 10px;
  width: 220px;
  margin: 0px;
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 55px;
  right: 10px;
}
.div_button_borrador{
  width: 20%;
  margin: 0px;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: inherit;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 5px;
  right: 10px;
}
/**Fin tercer boton **/
.banner_container{
  width: auto;
  margin: 0px;
  padding: 0px;
  position: fixed;
  bottom: 20px;
  right: 80px;
}

.encabezado_secciones{
  background-color: #E03C3B;
  color: white;
  text-transform: uppercase;
  padding: 5px;
}
.encabezado_secciones2{
  background-color: #E03C3B;
  color: white;
  text-transform: uppercase;
  padding: 2px;
}
.encabezado_secciones3{
  color: white;
  text-transform: uppercase;
  padding: 5px;
}
.border_aside{
  background-color: #f2f2f2;
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
}
.contenido_secciones{
  background-color: #ffff;
  border-left:solid #E03C3B 1px;
  border-right:solid #E03C3B 1px;
  border-top: 0px!important;
  border-bottom:solid #E03C3B 1px;
  padding: 4px;
}
.custom-actividad{
  width: 50%!important;
  float: left;
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.border-activity:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.shadow-border{
  box-shadow: 0 1px 0 0 #FFF inset, 0 2px 8px rgba(0,0,0,0.15);
  border-radius: 7px;
}
.shadow-border-nr{
  box-shadow: 0 1px 0 0 #FFF inset, 0 2px 8px rgba(0,0,0,0.25);
  border-radius: 3px;
}
/*Loader Page */
.loader-page {
    position: fixed;
    z-index: 25000;
    background: rgb(224, 60, 59);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .3s ease;
  }
  .loader-page::before {
    content: "";
    position: absolute;
    border: 2px solid rgb(255,255,255);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176,0);
    border-top: 2px solid rgba(50, 150, 176,0);
    animation: rotarload 1s linear infinite;
    transform: rotate(0deg);
  }
  @keyframes rotarload {
      0%   {transform: rotate(0deg)}
      100% {transform: rotate(360deg)}
  }
  .loader-page::after {
    content: "";
    position: absolute;
    border: 2px solid rgba(50, 150, 176,.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s ease-out infinite;
    transform: rotate(0deg);
  }
/*End loader */
.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}
}
/*Fin de clases estructuras*/
