/* Clases variadas */
.noseleccionable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input_noticia:hover{
  cursor: pointer;
}
.display_center{
  display: block;
  text-align: -webkit-center;
}
img {
    max-width: 100%;
    height: auto !important;
}
#input_busqueda_actividades{
  background-image: url('../images/iconos/busqueda-30.png');
  background-position: 8px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 40px 12px 40px;
  border: 1px solid #ddd;
}
.label_menu{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
.imagen_bellavista{
    background-image: url(../images/utilidad/FRONT_COLEGIO.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0;
    border-style: solid;
    border-width: thin;
    border-color: black;
    height: 300px;
}
.imagen_bellavista2{
    background-image: url(../images/galerias/diadelecturacra/IMG_20190425_092526.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0;
    border-style: solid;
    border-width: thin;
    border-color: black;
    height: 200px;
}
.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
}
.font_lato{
  font-family: 'Lato', sans-serif !important;
  letter-spacing: 1px;
}
.title_vision_mision{
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 1px;
}
.font_open{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.titulo_user{
  margin: 0;
  padding: 0;
}
.detail_user{
  border-style: solid;
  border-width: thin;
  border-color: #3396ff;
  background-color: #3396ff;
}
.detail_social{
  border-style: solid;
  border-width: thin;
  border-color: #3396ff;
}
.title_red{
  color:#ff3333;
}
.container_buttons{
  padding: 10px;
}

.hover_image:hover{
  transform: scale(1.2);
}
.sadas{
  background-image: url("../images/utilidad/FRONT COLEGIO.jpg");
  background-color: #cccccc;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
}
.shared_label{
  font-weight: bold;
}
.box{
  border-style: solid;
  border-width: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.background_navbar{
  background-color: #5b9bd7 !important;
}
.navbar_titulo{
  font-weight: bold;
  font-size: 16px !important;
}
.bellavista_title{
  color: rgba(255, 255, 255,0.9);
  font-weight: bold;
  font-size: 20px !important;
  text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black;
}
.thumbnail_galeria{
  border-style: solid;
  border-width: 1px;
  margin: 0 auto;
  position: relative;
}
.container_thumbnail{
  padding:3px;
  position:relative;
}
.container_thumbnail:hover .album-image{
  opacity: 0.3;
}
.container_thumbnail:hover .album-container {
  opacity: 1;
}
.album-image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.album-container{
  transition: .5 ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}
.album-text{
  background-color: #E03C3B;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.title_content_album{
  font-size: 20px;
}
.container_actividad{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
  border-style: solid;
  border-color: #a6a6a6;
  border-width: 2px;
  border-radius: 6px;
}
.container_actividad:hover{
  cursor: pointer;
  transform: scale(1.1);
  background-color: #f2f2f2;
}
.contenedor_registro{
  padding: 10px;
}
.admision_banner{
  padding-top: 20px;
  padding_bottom: 20px;
  height: 100%;
  text-align: center;
}
.seccion_noticias{
  margin: 5px;
  padding: 5px;
  border-style: solid;
  border-width: 1.5px;
  border-color:#bfbfbf;
}
.icon_zoom{
  transition: width 1s, height 1s, transform 1s;
  -moz-transition: width 1s, height 1s, -moz-transform 1s;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  -o-transition: width 1s, height 1s,-o-transform 1s;
}
.icon_zoom:hover{
    transform : scale(1.2);
  -moz-transform : scale(1.2);      /* Firefox */
  -webkit-transform : scale(1.2);   /* Chrome - Safari */
  -o-transform : scale(1.2);
}
.padding_bottom{
  margin-bottom: 5px;
}
.breadcumb_noticia{
  padding-top: 10px;
  padding-bottom: 10px;

}
/*Fin clases variadas */

/**Clases de estructuras */

.box_container{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 7px;
}
.slider{
  padding: 3px;
  margin-top: 8px;
}
.border_solid{
  border-style: solid;
  border-width: 2px;
}
.border-activity{
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}
.navheader{
  padding-left: 15px;
  width: 100%;
}
/**Primer boton **/
.button_save{
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 340px;
  height: auto;
  position: fixed;
  bottom:50px;
  right: 10px;
  z-index: 999px;
}
.label_button_save{
  border-radius: 10px;
  width: 220px;
  margin: 0px;
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 5px;
  right: 10px;
}
.div_button{
  width: 20%;
  margin: 0px;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: inherit;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 5px;
  right: 10px;
}
/**Fin primer boton **/
/**Segundo boton **/
.button_save_editor{
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 340px;
  height: auto;
  position: fixed;
  bottom:100px;
  right: 10px;
  z-index: 999px;
}
.label_button_save_editor{
  border-radius: 10px;
  width: 220px;
  margin: 0px;
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 105px;
  right: 10px;

}
.div_button_editor{
  width: 20%;
  margin: 0px;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: inherit;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 5px;
  right: 10px;
}
/** Fin segundo boton **/
/**Tercer boton **/
.button_save_borrador{
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 340px;
  height: auto;
  position: fixed;
  bottom:70px;
  right: 10px;
  z-index: 999px;
}
.label_button_save_borrador{
  border-radius: 10px;
  width: 220px;
  margin: 0px;
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 55px;
  right: 10px;
}
.div_button_borrador{
  width: 20%;
  margin: 0px;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: inherit;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 5px;
  right: 10px;
}
/**Fin tercer boton **/
.banner_container{
  width: auto;
  margin: 0px;
  padding: 0px;
  position: fixed;
  bottom: 20px;
  right: 80px;
}
.encabezado_secciones{
  background-color: #E03C3B;
  color: white;
  text-transform: uppercase;
  padding: 5px;
}
.encabezado_secciones2{
  background-color: #E03C3B;
  color: white;
  text-transform: uppercase;
  padding: 2px;
}
.border_aside{
  background-color: #f2f2f2;
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
}
.contenido_secciones{
  background-color: #ffff;
  border-left:solid black 1.5px;
  border-right:solid black 1.5px;
  border-top: 0px!important;
  border-bottom:solid black 1.5px;
  padding: 5px;
}
.custom-actividad{
  width: 50%!important;
  float: left;
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.border-activity:hover{
  cursor: pointer;
  transform: scale(1.1);
}

/*Fin de clases estructuras*/
